html{
	background: -webkit-linear-gradient(left top, #BDBB64 , #D4D86A); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #BDBB64, #D4D86A); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #BDBB64, #D4D86A); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #BDBB64 , #D4D86A); /* Standard syntax (must be last) */
}
body{
	
	width: 80%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	margin: 13% 8%;
	padding: 15px 25px;
	border: 4px groove black;
}
header{
	padding-bottom: 5%;
}
#topleft{
	left: 1px;
	position: absolute;
	top: 1px;
	z-index: 100;
	width:auto;

}
#nav_bar li:hover{
	background-color:#BDBB64;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
#nav_bar a{
	color:#000000;
	text-decoration: none;
	font-family: Verdana, helvetica, sans-serif;
	font-weight:500;
}
#nav_bar ul{
	list-style: none;
	padding: 0em 0;
	text-align: left;
	float:left;
	margin: 0;
	background-color:#A4BD64;
	border: 4px ridge black;
}
#nav_bar li{
	float: left;
	clear: both;
	text-align:center;
	border-bottom: 3px ridge #4C5453;
	padding:15px;
	width:58px;
	background-color:#A9CC50;
	
}
#nav_bar{
	background-color:#A4EF9E;
	
}
.navbar{
	top: 350px;
	left: 5%;
	position:absolute;
}
.clear{
	padding-top: 10%;
	padding-left: 10%;
	padding-bottom: 10%;
	clear:left;
}
footer{
	
	z-index: 2;
	clear:both;
	background-color: #A1ADAC;
}


#footer ul{
	list-style: none;
	padding: .5em 0;
	
	border:#000000;
	text-align: center;
	margin-left: 200px; 
	margin-right: 200px;
}
#footer li{
	display: inline;
}

tr{
	text-align:center;
}
td{
	text-align:center;
}
#gallery{

width:300px;
height:90px;
margin:5px;
clear:right;
}
#slide{
	width:900px;
	height: 500px;
}

