html{
	background: -webkit-linear-gradient(left top, #BDBB64 , #D4D86A); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #BDBB64, #D4D86A); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #BDBB64, #D4D86A); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #BDBB64 , #D4D86A); /* Standard syntax (must be last) */
}
body{
	
	width: 80%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	margin: 10% 8%;
	padding: 15px 25px;
	padding-bottom: 0;
	border: 4px groove black;
}
.headerp{
	text-align:right;
}
header{
	padding-bottom: 0px;
}
#topleft{
	left: 1px;
	position: absolute;
	top: 1px;
	z-index: 100;
	width:auto;

}
#nav_bar li:hover{
	background-color:#BDBB64;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
#nav_bar a{
	color:#000000;
	text-decoration: none;
	font-family: Verdana, helvetica, sans-serif;
	font-weight:500;
}
#nav_bar ul{
	list-style: none;
	padding: 0em 0;
	text-align: left;
	float:left;
	margin: 0;
	background-color:#A4BD64;
	border: 4px ridge black;
	border-bottom: none;
}
#nav_bar li{
	float: left;
	clear: both;
	text-align:center;
	border-bottom: 3px ridge #4C5453;
	padding:15px;
	width:58px;
	background-color:#A9CC50;
	
}
#nav_bar{
	background-color:#A4EF9E;
	
}
.navbar{
	top: 350px;
	left: 5%;
	position:absolute;
}
.clear{
	width:35%;
	padding-top: 10%;
	padding-left: 10%;
	padding-bottom: 10%;
	float: left;
	text-align:center;
}
.clear2{
	width:35%;
	padding-top: 10%;
	padding-left: 10%;
	padding-bottom: 10%;
	float:right;
}
footer{
	z-index: 100;
	clear:both;
	background-color: #A1ADAC;
	text-align:center;
	margin:0;
}
#footer ul{
	list-style: none;
	padding: .5em 0;
	color:#000000;
	text-decoration: none;
	font-family: Verdana, helvetica, sans-serif;
	font-weight:500;
	border:#000000;
	text-align: center;
	margin-left: 300px; 
	margin-right: 300px;
}
#footer li{
	display: inline;
	color:#000000;
}
#footer a{
	color:#555555;
	text-decoration: none;
	font-family: Verdana, helvetica, sans-serif;
	font-weight:500;
}
footer p{
	
	margin: 0px;
}
tr{
	text-align:center;
}
td{
	text-align:center;
}
#gallery{
	width:90%;
	height:90px;
	margin:5px;
	clear:right;
	margin-left:80px;
	margin-bottom:10px;
	margin-right:50px;
	padding-top:15px;	
	padding-bottom:15px;
}

#slide{
	width:90%;
	height:500px;
}

.thumbnails{
	padding-left:30%;
	padding-right:30%;
	margin-left: auto;
	margin-right: auto;
}

.thumbnails img {
	height: 80px;
	border: 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
	clear:both;
	z-index: 2;
	text-align: center;
}

.thumbnails img:hover {
	border: 4px solid #00ccff;
	cursor:pointer;
	clear:both;
}

.preview img {
	border: 4px solid #444;
	padding: 1px;
	height: 90%;
	width: 75%;
}
#find{	
	background:none;
	border:none;
	color:#000000;
	text-decoration: none;
	font-family: Verdana, helvetica, sans-serif;
	font-size:inherit;
	padding:0;
}
#find:hover{
	cursor: pointer;
	background-color:#BDBB64;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}	
#title{
	text-align:center;
	font-family: Verdana, helvetica, sans-serif;
	font-size: 200%;
	padding-bottom: 0px;
}
#HCB_comment_box{
	float: right;
	width:45%;
	background-color:#EBF4FA;
	padding:5px;
	margin-bottom:10px;
	border: 4px solid #444;
}
table{
	text-align:center;
	width: 85%;
	margin-left: 75px;
	margin-right: 50px;
}
tr{
	border:1px solid black;
}
