body{
	
}
#nav_bar ul{
	list-style: none;
	padding: .5em 0;
	background-color:;
	text-align: left;
}
#nav_bar li{

}
footer{
	clear:left;
}


#footer ul{
	list-style: none;
	padding: .5em 0;
	background-color: ;
	text-align: center;
}
#footer li{
	display: inline;
}

